*{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.menu-bar{
  background-image: linear-gradient(to right, #6db9ef, #7ce08a);
}

.nav-link{
  font-size: 24px;
  color:#fff !important;
  margin: 2px;
}

.navbar-brand .ima{
  width: 200px;
  height: 65px;
}

.navbar-nav{
  text-align: right;
}

.menubar .navbar-toggler{
  padding-right: 0;
  border: none;
  outline: none;
}

.banner{
  height: 80vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(img/job.jpg);
  background-size: cover;
  background-position: center;
}
